appdirs
appnope
argon2-cffi
attrs
backcall
bleach
certifi
cffi
chardet
charset-normalizer
click
cycler
decorator
defusedxml
entrypoints
flake8
graphviz
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mccabe
mistune
more-itertools
mypy
mypy-extensions
nbconvert
nbformat
notebook
numpy
openai
packaging
pandas
pandas-datareader
pandocfilters
parso
pathspec
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
scipy
Send2Trash
six
terminado
testpath
toml
tornado
traitlets
typed-ast
typing-extensions
urllib3
wcwidth
webencodings
widgetsnbextension
